@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background: #221b5e;
    overflow: hidden;
}

.absolute {
    position: absolute;
    z-index: 1;
}

#game-container {
    background-color: black;
    position: relative;
}

canvas {
    display: block;
    position: relative;
}

/*Health Bar Container*/
#health-bar-container {
    background: linear-gradient(white, #AAE8FF);
    top: 23px;
    left: 45px;
    height: 32px;
    width: 300px;
    border-radius: 40px;
    border: white solid 3px;
}

#health-icon {
    top: -45px;
    left: -50px;
    height: 100px;
}

#health-bar {
    width: 50%;
    height: 100%;
    border-radius: 40px;
    background: linear-gradient(#b5ff2b, #82c900);
    border: white solid 3px;
    top: -3px;
    position: absolute;
}


/*Coin Contaienr**/
.amount-container {
    background: rgba(0, 0, 0, 0.2);
    top: 3vh;
    right: 45px;
    height: 39px;
    width: 130px;
    border-radius: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Varela Round', sans-serif;
    font-weight: 600;
    color: white;
    font-size: 22px;
    padding-right: 43px;
}

#coin-icon {
    top: -30px;
    right: -50px;
    height: 100px;
}

/*Poison Container*/
#posion-container {
    top: 110px;
}

#poison-icon {
    top: -45px;
    right: -56px;
    height: 110px;
}


/*Responsive*/
@media only screen and (max-width: 1920px) {
    canvas {
        max-width: 100%;
    }
}

@media only screen and (max-height: 1080px) {
    canvas {
        max-height: 100vh;
    }
}