body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background: #221b5e
}

canvas {
    display: block;
}

span {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 1920px) {
    canvas {
        max-width: 100%;
    }
}

@media only screen and (max-height: 1080px) {
    canvas {
        max-height: 100vh;
    }
}